{% trans_default_domain 'FOSUserBundle' %}

<div id="page-wrapper" style="margin-left:0px;">
    <div class="main-page login-page ">
        <h2 class="title1">Mot de passe oublier</h2>
        <div class="widget-shadow">
            <div class="login-body">
                <form action="{{ path("fos_user_resetting_send_email") }}" method="post"class="fos_user_resetting_request">
                    <input type="text" id="username" name="username" required="required" placeholder="Email"/>
                    <input type="submit" value="Envoyer" />
                </form>
            </div>
        </div>
    </div>
</div>
