<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box" >
                    <b style="color:red;font-size: 46px;">!</b>
                </div>
                <h4 class="modal-title">Êtes-vous sûr ?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Voulez-vous vraiment supprimer ce produit ? Ce processus ne peut pas être annulé.</p>
                <h2></h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info " data-dismiss="modal"><span class="fa fa-close"> </span> Quitter</button>

                <form action="" method="post" id="form">

                    <input type="submit" value="Supprimer" class="btn btn-danger" />
                    {{ form_rest(form) }}


                   {# <a href="" class="btn btn-danger" id="delete" style="color:#FFFFFF"><span class="fa fa-trash-o"> </span> Supprimer</a>

                            #}
            </div>
        </div>
    </div>

</div>