<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <!--left-fixed -navigation-->
    <aside class="sidebar-left">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a class="navbar-brand" href="#"><span class="fa fa-area-chart"></span> HN<span class="dashboard_text">Admin dashboard</span></a></h1>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="sidebar-menu">
                    <li class="header">Menu</li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-home"></i> <span>Acceuil</span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-archive"></i>

                            <span>Produits</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-right"></i> Créer</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Gérer</a></li>
                        </ul>
                    </li>



                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-tags"></i>

                            <span>Catégories</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-right"></i> Créer</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Gérer</a></li>
                        </ul>
                    </li>



                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-shopping-cart"></i>

                            <span>Commandes</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-right"></i> Créer</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Gérer</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="	fa fa-bookmark"></i>

                            <span>Marques</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-right"></i> Créer</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Gérer</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="	fa fa-star-o"></i>

                            <span>Promotions</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-angle-right"></i> Créer</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Gérer</a></li>
                        </ul>
                    </li>

            </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </aside>
</div>
{