
{% extends "AdminBundle::adminLayout.html.twig" %} 

{% block content %}
    {{ parent() }}

		{{ category.name }}

     	<form action="{{ path('admin_category_delete', {'id': category.id}) }}" method="post" id="form">
    	<input type="submit" value="Supprimer" />

    	{{ form_rest(formDelete) }}
  		</form>

{% endblock %}
