{% extends "AdminBundle:Admin:index.html.twig" %}
{% block css %}
    {{ parent() }}
{% endblock  %}
{% block body %}
    {{ parent() }}
    <div id="page-wrapper">
        <div class="main-page">
            {% block content %}
            {% endblock %}
        </div>
    </div>

{% endblock %}