<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box" >
                    <b style="color:red;font-size: 46px;">!</b>
                </div>
                <h4 class="modal-title">Êtes-vous sûr ?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Voulez-vous vraiment supprimer ce produit ? Ce processus ne peut pas être annulé.</p>
                <h2></h2>
            </div>
            <div class="modal-footer">
                <form action="" method="post" id="form">
                    <button type="button" class="btn btn-info " data-dismiss="modal"><span class="fa fa-close"> </span> Quitter</button>
                    <button class="btn btn-danger" type="submit" ><span class="fa fa-trash-o"> </span> Supprimer</button>
                    {{ form_rest(formDelete) }}
                </form>
            </div>
        </div>
    </div>
</div>

