{% extends "AdminBundle::adminLayout.html.twig" %}

{% block content %}
    {{ parent() }}
    <ul id="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><span class="fa fa-home"> </span></a></li>
        <li><a href="{{ path('admin_user_list') }}">Utilisateur</a></li>
        <li><a > Changer mot de passe</a></li>
    </ul>
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
        {% else %}
            <div class="alert alert-success">
                Verifier le mot de passe
            </div>
    {% endif %}

{% endblock content %}
