{% extends "AdminBundle::adminLayout.html.twig" %}
{% block content %}
    {{ parent() }}



<div class="container" align="center">
    <div class="pave_940">
        <div class="pave_m">


            <div class="accueil_vente__bloc_visuel" style="background-image: url({{ asset('uploads/brand/'~ brand.brandImage.name ) }});">
                <a class="accueil_vente_picture" href="#"></a>

                <div class="accueil_vente__arbo">
                    <ul class="accueil_vente__liste_arbo">
                        <li class="accueil_vente_logo">
                            <img id="cph_middle_SaleContainer_ctl00_ImgLogo" src="{{ asset('uploads/brand/'~ brand.logo.name ) }}" alt="">
                        </li>
                        <li><a href="#">Les bonbons<span>›</span></a></li>
                        <li><a href="#">Chocolats et biscuits<span>›</span></a></li>
                        <li id="cph_middle_SaleContainer_ctl00_li_all_products"><a href="#" class="tous_produits">Voir tous les produits<span>›</span><span>›</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}