{% extends "AdminBundle::adminLayout.html.twig" %}
{% block content %}
    {{ parent() }}

    <div class="container">
    {% for image in images %}

        <div class="col-xs-6 col-sm-3">
            <div style="background: #000000; border: 2px black;border-radius: 20px 20px 0 0;color:#f0f0f0;padding: 10px 0;"><h3 style="text-align: center;">{{ image.label }}</h3></div>
            <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                <img src="{{ asset('uploads/product/'~ image.name ) }}">
            </a>
            <div style="background: #000000; border: 2px black;border-radius: 0 0 20px 20px;color:#f0f0f0;padding: 10px 0;">

                <div align="center">
                <a href="#" class="link thumb-link"><em class="fa fa-edit"></em></a>
                <a href="#" class="link thumb-link" ><em class="fa fa-trash-o"></em></a>
                </div>
            </div>

        </div>
    {% endfor %}
    </div>

    <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
            <div class="modal-content">
                <div class="modal-body">
                    <img src="" alt="" />
                </div>
            </div>
        </div>
    </div>









{% endblock %}